@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_logo-link {
  display: inline-block; }

.header_nav-menu {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  padding: 0; }

.header_nav-list-item {
  margin-left: 40px;
  margin-right: 40px; }

.header_nav-list-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF; }

.header_nav-contacts {
  text-align: right;
  color: #FFFFFF; }

.header_nav-contacts span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  display: block; }

.header_nav-contacts-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: inherit; }

.main {
  padding-top: 54px; }

.main-wrapper {
  display: flex; }

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.home-image path {
  opacity: 0; }

.home-image path:hover {
  opacity: 1;
  cursor: pointer; }

.main_info-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
  margin-top: 68px;
  margin: 0; }

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center; }

.counter-btn {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.counter {
  color: #635854;
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;
  margin-top: 32px;
  margin-bottom: 32px; }

.button-store {
  padding: 16px 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer; }

.button-primary {
  background: #3596F5;
  border-radius: 6px;
  border: none;
  margin-bottom: 70px; }
